.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 12px 0;
    /* border-bottom: 1px solid #eee; */
    gap: 40px;
}
    
.menu-category {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
    position: relative;
}

.menu-category:hover {
    color: red;
}

.menu-category::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: red;
    transition: width 0.3s ease;
}

.menu-category:hover::after {
    width: 100%;
}