.content {
    background-color: grey;
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cria as 4 colunas iguais */
    gap: 20px;
    padding: 20px;
}

@media (max-width: 1000px) {
    .content-grid { grid-template-columns: repeat(2, 1fr); }
}
@media (max-width: 600px) {
    .content-grid { grid-template-columns: 1fr; }
}