.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8%;
    background-color: black;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.navbar-logo span {
    font-size: 1.4rem;
    font-weight: 800;
    color: red;
    letter-spacing: -0.5px;
    font-family: sans-serif;
}


.navbar-menu {
    display: flex;
    align-items: center;
    gap: 25px; 
}

.login-link {
    text-decoration: none;
    color: red;
    font-weight: 600;
    font-size: 0.95rem;
    transition: color 0.2s;
}

.login-link:hover {
    color: #000;
}


.register-btn {
    text-decoration: none;
    background-color: red;
    color: white !important;
    padding: 10px 22px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 0.95rem;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.2);
}

.register-btn:hover {
    background-color: #0056b3;
    transform: translateY(-1px);
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.3);
}